version: "3.8"

services:
  next:
    build: .
    container_name: next-app
    environment:
      NODE_ENV: production
    ports:
      - "3000:3000"
    restart: unless-stopped

networks:
  web_network:
    external: true
